<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.AdminUser">
        <result column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="username" property="username" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="login_ip" property="loginIp" />
        <result column="dept_id" property="deptId" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
