<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.PostInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.PostInfo">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="key_word" property="keyWord" />
        <result column="order_sort" property="orderSort" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
