<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.RoleDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.RoleDept">
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
    </resultMap>

</mapper>
