<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.RoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.RoleInfo">
        <result column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="order_sort" property="orderSort"/>
        <result column="role_scope" property="roleScope"  typeHandler="fun.isite.service.common.db.handler.StringListTypeHandler" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
