<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.SystemMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.SystemMenu">
        <result column="id" property="id" />
        <result column="root_id" property="rootId" />
        <result column="name" property="name" />
        <result column="order_sort" property="orderSort" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="visible" property="visible" />
        <result column="permission" property="permission" />
        <result column="is_blank" property="isBlank" />
        <result column="type" property="type" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
