<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.isite.service.core.system.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.isite.service.core.system.entity.UserRole">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>
    <select id="queryMenusByUserId" resultType="fun.isite.service.core.system.entity.SystemMenu">
        select
        sm.*
        from
        system_menu sm
        inner join role_menu srm on sm.id = srm.menu_id
        inner join user_role sur on srm.role_id = sur.role_id
        where
        sur.user_id = #{userId}
    </select>
    <select id="queryRoleKeyByUserId" resultType="java.lang.String">
        select
        sr.role_key
        from
        role_info sr
        inner join user_role sur on sr.id = sur.role_id
        where
        sur.user_id = #{userId}
    </select>
    <select id="queryPermissionKeyByUserId" resultType="java.lang.String">
        select
        sm.permission
        from
        system_menu sm
        inner join role_menu srm on sm.id = srm.menu_id
        inner join user_role sur on srm.role_id = sur.role_id
        where
        sur.user_id = #{userId}
    </select>

</mapper>
